@charset "utf-8";
/* CSS Document */

body {
	display:block;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	max-width: 1000px;
	font-family: Bahnschrift, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
header {
	postion: static;
}

#header {
	height: 90px;
	max-height: 15%;
	text-align: center;	
	margin-bottom: 0px;
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;

	
}
#header img{
	max-width: 60%;
	max-height: 80px;
	margin:auto;
	display: block;
	
}

	

li {
	height: 75px;
	max-height: 10%;
	background-color: tomato;
	text-align: center;
	border-radius: 10px;
	list-style-type: none;
	text-indent: inherit;
	margin-left: 0px;
}

#container {
	width: 100%;
}
.announcements {
	height: 75px;
    background: -webkit-linear-gradient(left, red, tomato);
    background: -o-linear-gradient(left, red, tomato);
    background: linear-gradient(to right, red, tomato); 
	text-align: center;
	margin-bottom: 10px;
}
.announcements img {
	float:left;
	margin-top: 15px;
	margin-left: 10px;
}
.announcements #title {
	width: 78%;
	text-align: left;
	font-size: 20px;
	color: white;
	padding-top: 7px;
	padding-left: 10px;
	float: left; 
}
.announcementsnonew{
	height: 50px;
    background: -webkit-linear-gradient(left, red, tomato);
    background: -o-linear-gradient(left, red, tomato);
    background: linear-gradient(to right, red, tomato); 
	text-align: center;
	margin-bottom: 10px;
}
.announcementsnonew img {
	float:left;
	margin-top: 2px;
	margin-left: 10px;
}
.announcementsnonew #title {
	width: 78%;
	text-align: left;
	font-size: 20px;
	color: white;
	padding-top: 14px;
	padding-left: 11px;
	float: left; 
}
.unreadannouncements {
	margin-left: 10px;
	margin-top: 17px;
	color: lightgray;
	font-size: 15px;
	float: left;
}
.appointment {
	height: 100px;
	max-height: 10%;
    background: -webkit-linear-gradient(to right, #4abdac, #4abddd);
    background: -o-linear-gradient(to right, #4abdac, #4abddd);
    background: linear-gradient(to right, #4abdac, #4abddd);
	text-align: center;
	border-radius: 10px;
	margin-bottom: 10px;
	color: #0b2133
}
.appointment .title {
	color:white;
	width: 45%;
	text-align: right;
	padding-top:10px;
	font-size: 25px;
	float:right;
	padding-right:10px;
}
.appointment .description {
	width: 50%;
	color: #3C6688;
	text-align: right;
	float: right;
	padding-right:10px;
}
.appointment .time {
	color: white;
	width: 40%;
	text-align: left;
	font-size: 40px;
	float: left;
	padding-left:10px; 
	padding-top:15px;	
}

.quiz {
	height: 130px;
	max-height: 10%;
    background: -webkit-linear-gradient(left, #f7b733, #f79933);
    background: -o-linear-gradient(left, #f7b733, #f79933);
    background: linear-gradient(to right, #f7b733, #f79933); 
	text-align: center;
	border-radius: 10px;
	margin-bottom: 10px;
}

.quiz .time {
	color: white;
	font-size: 40px;
	float: left;
	padding-left:10px; 
	padding-top:15px;
	
}
.quiz .title { 
	color: white;
	font-size: 29px;
	float: right;
	padding-right:10px; 
	padding-top:20px;
	
}
.footer {
	background-color: lightgray;
	height: 50px;
	position: fixed;
	width: 100%;
	left: 0;
	bottom:0;
	
}
.footer .code {
	font-size: 100%;
	background-color: grey;
	padding: 2px;
	padding-left: 5px;
	padding-right: 6px;
	border-radius: 4px;
	color: white;
}
.footer .gamenumber{
	float:left;
	font-size: 140%;
	margin-left: 10px;
	margin-top: 10px;
}

.footer .username {
	margin-top: 10px;
	font-size: 140%;
	float: right;
	margin-right: 12px;
}