@charset "utf-8";
body {
background-color: #abd6da;
	font-family: Bahnschrift, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	margin: 0px;
}
#header {
	height: 90px;
	max-height: 15%;
	text-align: center;	
	margin-bottom: 0px;
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
}
#header img{
	max-width: 60%;
	max-height: 80px;
	margin:auto;
	padding-top: 5px;
	display: block;
}
.container{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.useroverview{
	margin-top: 40px;
	border-radius: 20px;
	padding: 20px;
	background: -webkit-linear-gradient(to right, #0f7780, #21656b);
    background: -o-linear-gradient(to right, #0f7780, #21656b);
    background: linear-gradient(to right, #0f7780, #21656b);
	width: 500px;
	float: left;
}
.useroverview .title {
	color: white;
	font-size: 40px;
}
.useroverview table{
	width: 100%;
	text-align: center;
	color: white;
	border-collapse: collapse;
	font-size: 18px;
	
}
tr {
	border-bottom: 1px solid #ddd;
}
tr:nth-child(even) {background-color: #1c555a;}
.completeanswer img {
	width: 25px;
}
th{ 
font-size: 22px;
font-weight: 200;}
td {
	padding: 5px;
}
.questionsanswers {
	background: -webkit-linear-gradient(to right, #0f7780, #21656b);
    background: -o-linear-gradient(to right, #0f7780, #21656b);
    background: linear-gradient(to right, #0f7780, #21656b);
	width: 900px;
	float: left;
	margin-left: 20px;
	margin-top: 40px;
	padding: 20px;
	border-radius: 20px;
}
.question {
	color: white;
	font-size: 34px;
	text-align: center;
}
.completequestion{
	padding-bottom: 25px;
	margin-bottom: 25px;
	border-bottom: solid;
	border-bottom-color: white;
}
.completeanswer {
	color: white;
	padding-bottom: 10px;
	border-bottom: solid;
	border-width: 1px;
	border-color: lightgray;
	margin-top: 10px;
}

.questiondescription{
	font-size: 25px;
	text-align: center;
	color: lightgray;
}
