body {
    font-family: Roboto, Helvetica, Arial, sans-serif; margin: 0; padding: 0;
}

.background {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background-image: url("https://images.arcadis.com/media/6/6/8/%7B66844D25-A8FF-46FB-BBF6-E5855A6087E3%7DRijksmuseumAmsterdam-main.jpg?width=1920&height=0&mode=crop&anchor=top");
    background-repeat: no-repeat;
    height: 100%;
    width: auto;
    background-size: cover;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}

img {
    position: fixed;
    margin-top: 10%;
    z-index: 9999;
    width: 40%;
    margin-left: 30%;
    height: auto;
    display: block;
    background-color: white;
}

.loginbutton {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.createbutton {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: rgb(51, 225, 153);
    font-weight: bold;
    font-size: 20px;
}

.login_hide {
    display: none;
}

.login_show {
    display: block;
    position: fixed;
    z-index: 1000;
    background: rgb(51, 225, 153);
    width: 40%;
    margin-left: 30%;
    margin-top: 27%;
    font-weight: bold;
    color: white;
    padding: 20px 0;
    border: none;
    text-align: center;
}

input[type=button] {
    background-color: white;
    border: none;
    color: rgb(51, 225, 153);
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    width: 90%;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2px;
}

#login {
    position: fixed;
    background: rgb(51, 225, 153);
    width: 20%;
    margin-top: 22%;
    margin-left: 30%;
    color: white;
    padding: 20px 0;
    border: none;
    font-weight: bold;
    text-align: center;
    z-index: 1000;
}

#create {
    position: fixed;
    background: white;
    width: 20%;
    margin-top: 22%;
    margin-left: 50%;   
    padding: 20px 0;
    border: none;
    text-align: center;
    z-index: 1000;
}

input[type=text] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#login a {
     color: white;
     font-weight: bold;
     text-decoration: none;
}

#create a {
     color: rgb(51, 225, 153);
     font-weight: bold;
     text-decoration: none;
}

#load {
    color: rgba(0,0,0,0.4); text-align: center; font-size: 13px;
}

@media (max-width: 1000px) {
    img {
        width: 60%;
        margin-left: 20%;
    }

    #login {
        width: 30%;
        margin-top: 28%;
        margin-left: 20%;
    }

    #create {
        width: 30%;
        margin-top: 28%;
        margin-left: 50%;
    }

    .login_show {
        display: block;
        position: fixed;
        z-index: 1000;
        background: rgb(51, 225, 153);
        width: 60%;
        margin-left: 20%;
        margin-top: 37%;
        color: white;
        font-weight: bold;
        padding: 20px 0;
        border: none;
        text-align: center;
    }

    input[type=text] {
        width: 90%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
}
/* 

@media (max-width: 600px) {
    body {
        background-size: auto 100%;
    }

    .content {
        margin: 0 0;
    }

    img, form, p {
        width: 100%;
    }

    #login, #create{
        width: 100%;
    }
} */

